<div *ngIf="artist" class="artist-box" style="margin-left: 180px;margin-top: -700px;">

    <div id="artist-head-card">

        <div class="image">
            <img src="{{ url +'get-image-artist/'+artist.image}}" *ngIf="artist.image && artist.image!== 'null' "/>
        </div>
        <div class="data">
            <h1>{{artist.name}}</h1>
            <p>{{artist.description}}</p>

            <a *ngIf="identity.role=='ROLE_ADMIN'" class="btn btn-default">
                Añadir album
            </a>
        </div>

    </div>
    <div class="clearfix"></div>

    <div id="gallery-albums" *ngIf="albums">

    </div>
</div>