html,body{
    margin: 0px;
    height: 100%;
    background-color: orchid;

}
.actived{
    border-bottom: 4px solid #84BD00;
    padding-bottom: 4px;
}

.head-title{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 25px;
    display: block;
}

.navigation{
    text-align: center;
    color: white;
    background-color: #1C1C1F;
    height: 100%;
    margin-top: -20px;
}
.navigation a{
    color:#ddd;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    text-decoration: none;
}
.navigation a:hover{
    color:white;
  
}
.navigation .fa{
    font-size: 25px;
    display: block;
    width: 100%;
}
#user_logged{
    text-decoration: center; 
    background-color: #1C1C1F;
    position: absolute;
    bottom: 0px;
    border-top: 1px solid #444;
    width: 75px;
    margin-left: 25px;
  
}
.btn-logout{
    cursor: pointer;
}
#user_logged .user_image{
width: 75px;
background: grey;
border-radius: 100px;
height: 57px;
width: 57px;
margin: 0px auto;
margin-top: 15px;
overflow: hidden;

}
#user_logged .user_image img{
    width:57px;
    
    }

 .list-group{
     margin: 0px;
     padding: 0px;
     margin-top: 30px;
     list-style: none;
  
 }   
.list-group-item{
    width: 300px;
    margin: 0px;
    padding: 0px;
    height: 317px;
    border:1px solid #444;
    margin-left: 50px;
    margin-top: 20px;
}
.list-group-item .artist-image{
    height: 245px;
    width: 100%;
    overflow: hidden;
}

.list-group-item .artist-image img{
   height: 100%;
   min-width: 100%;
}
.list-group-item .artist-name{
    color:white;
    padding: 10px;
    text-decoration:none;
    background: #222326;
  }
.list-group-item .artist-name a{
   color: white;
   text-decoration: none;
 }
#artist-head-card .image{
    width: 150px;
    height: 150px;
    overflow: hidden;
    float: left;
    margin-right: 30px;

}

#artist-head-card .image img{
    width: 130px;
    height: 100%;
    min-width: 100%;
}

.seguro{
    color:white;
    padding: 10px;
    text-decoration:none;
    background: #222326;
    margin-top: -51px;
  
}
.seguro .btn{
  width: 100px;
  height: 35px;
}