html,body{
    margin: 0px;
    height: 100%;
    background-color: orchid;

}
.actived{
    border-bottom: 4px solid #84BD00;
    padding-bottom: 4px;
}
.head-title{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 25px;
    display: block;
}

.navigation{
    text-align: center;
    color: white;
    background-color: #1C1C1F;
    height: 100%;
    margin-top: -20px;
}
.navigation a{
    color:#ddd;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    text-decoration: none;
}
.navigation a:hover{
    color:white;
  
}
.navigation .fa{
    font-size: 25px;
    display: block;
    width: 100%;
}
#user_logged{
    text-decoration: center; 
    background-color: #1C1C1F;
    position: absolute;
    bottom: 0px;
    border-top: 1px solid #444;
    width: 75px;
    margin-left: 25px;
  
}
.btn-logout{
    cursor: pointer;
}
#user_logged .user_image{
width: 75px;
background: grey;
border-radius: 100px;
height: 57px;
width: 57px;
margin: 0px auto;
margin-top: 15px;
overflow: hidden;

}
#user_logged .user_image img{
    width:57px;
    
    }
