<div class="head-page" style="margin-left: 200px;margin-top: -700px;">
    <h1>{{titulo}}</h1>

    <a  [routerLink]="['/crear-artista']" [routerLinkActive]="['actived']" *ngIf="identity && identity.role=='ROLE_ADMIN'" class="btn btn-default">Añadir artista</a>

    <ul class="pagination pull-right">
        <li><a [routerLink]="['/artistas',prev_page]" [routerLinkActive]="['actived']">&laquo;</a> </li>
        <li><a [routerLink]="['/artistas',next_page]" [routerLinkActive]="['actived']">&raquo;</a> </li>
    </ul>
    <ul class="list-group list-group-horizontal">
        <li *ngFor="let artist of artists" class="list-group-item artist-item">
            <div class="artist-image">
                <img src="{{url+'get-image-artist/'+artist.image}}"/>
            </div>
            <div class="artist-name">
                <a [routerLink]="['/artista',artist._id]"> {{artist.name}}</a>
                <div class="buttons" *ngIf="identity.role=='ROLE_ADMIN'">
                    <a [routerLink]="['/editar-artista',artist._id]" [routerLinkActive]="['actived']" class="btn btn-sm btn-warning">Editar artista</a>
                    <a (click)="onDeleteConfirm(artist._id)" class="btn btn-sm btn-danger">Borrar artista</a>
                </div>
            </div>  
            
            <div class="seguro" *ngIf="confirmado==artist._id">
                <a (click)="onDeleteArtist(artist._id)" class="btn btn-sm btn-danger">Eliminar</a>

                <a (click)="onCancelArtist()" class="btn btn-sm btn-primary">Cancelar</a>
            </div>
        </li>
        </ul>
    </div>

